*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
.cu {
  width:47vw;
   padding: 5px;
   border: 4px solid rgba(245, 181, 18, 0.2) !important;
   background-color: white !important;
   color: black !important;
   border-radius: 15px;
   box-shadow: 2px 4px 9px rgba(109, 108, 108, 0.5);
}

.titulo{
    text-align: center;
}

@media(max-width:480px){
   .cu{
    height: 100%;
    gap: 10px;
   }
  
}